{% extends 'base.html.twig' %}

{% block title %}Accueil | Project Fantasia{% endblock %}

{% block body %}
<div class="container my-5">
    <div class="row g-4">
        
            <div class="col-12 col-md-4"> <!-- 3 colonnes sur desktop, 1 sur mobile -->
                <div class="card text-center bg-dark text-white border-0 shadow-lg ">
                    <div class="bg-light text-dark p-5 rounded-top ">
                        Image
                    </div>
                    <div class="card-body bg-gray rounded-bottom">
                        <h5 class="card-title">Titre</h5>
                        <a href="#" class="btn btn-danger w-40">Bouton</a>
                    </div>
                </div>
            </div>
        
    </div>
</div>
{% endblock %}
