{% extends 'base.html.twig' %}

{% block title %}Accueil | Project Fantasia{% endblock %}

{% block body %}
<div class="container my-5">
    <div class="row g-4">
        
            <div class="col-12 col-md-4"> <!-- 3 colonnes sur desktop, 1 sur mobile -->
                <div class="card text-white">
                    <img src="https://via.placeholder.com/300" class="card-img-top" alt="...">
                    <div class="card-body bg-gray rounded-bottom d-flex justify-content-center align-items-center flex-column">
                        <h5 class="card-title">Titre</h5>
                        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, voluptates.</p>
                        <a href="#" class="btn btn-danger w-40">Bouton</a>
                    </div>
                </div>
            </div>
        
    </div>
</div>
{% endblock %}
